* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --violeta: #a592e1;
  --crema: #fffff5;
  --grisClaro: #e0e3d6;
  --grisOscuro: rgba(86, 98, 112, 0.99);
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 99vh;
  margin-left: 0%;
  margin-right: 0%;
  background-image: url("https://picsum.photos/200/400");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 30vh;
  max-height: 20vh;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px 3px var(--grisOscuro));
}

.sloganMobile {
  color: var(--crema);
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 7vh;
  text-align: center;
}

.arrowParagraph {
  color: var(--violeta);
  margin-top: 20vh;
}

.downArrow {
  color: var(--violeta);
  margin: 1vh;
  font-size: 6vh;
}

section h2 {
  margin: 4vh;
  font-size: 8vh;
  text-align: center;
  color: var(--grisOscuro);
}

.options {
  background-image: url("https://picsum.photos/200/400");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3vh;
  border: none;
  padding: 10vh;
  margin: 6vh 1vh;
  text-align: center;
  font-weight: 500;
  font-size: 7vh;
  line-height: 48px;
  color: var(--grisClaro);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer p {
  padding-top: 5vh;
  padding-bottom: 17vh;
  text-align: center;
  font-size: 2vh;
}

footer button {
  padding-bottom: 10vh;
  display: flex;
  margin: auto;
  background-color: var(--violeta);
  padding: 3vh 7vh;
  border: none;
  border-radius: 7vh;
  color: white;
  font-size: 2.5vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainMenu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--grisOscuro);
  color: var(--crema);
  font-size: 6vh;
}

.iconMenu {
  padding: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.iconNav {
  color: var(--grisClaro);
}

/*                   PAGINA DE CATEGORIAS VERSION MOBILE                    */

.categoryHeader {
  margin: 1.5vh;
}

.categoryTitle {
  letter-spacing: 0.3vh;
  font-size: 8vh;
  text-align: center;
  color: var(--grisOscuro);
  padding-top: 3vh;
  padding-bottom: 5vh;
}

.eventCard {
  margin: auto;
  width: 30vh;
  height: 13vh;
  border-radius: 6vh;
  margin-bottom: 10vh;
  box-shadow: 3px 5px 10px 0px var(--grisOscuro);
}

.eventTitle {
  position: relative;
  left: -6vh;
  top: -6vh;
  text-align: left;
  font-size: 5vh;
  color: var(--grisOscuro);
}

.buttonStyle {
  display: flex;
  margin: 5vh auto;
  background-color: var(--violeta);
  padding: 1.5vh 4vh;
  border: none;
  border-radius: 7vh;
  color: white;
  font-size: 4vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p.numberCapacity {
  text-align: right;
  font-size: 5vh;
  position: relative;
  bottom: 1vh;
  left: 7vh;
  color: white;
}

.enterButton {
  position: relative;
  left: 15vh;
  bottom: 2vh;
  background-color: var(--violeta);
  border: none;
  padding: 1.5vh 2.5vh;
  border-radius: 7vh;
  color: white;
  font-size: 4vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-background {
  display: none;
}

/***                      "DESKTOP RESPONSIVE"                   ****/

@media screen and (min-width: 700px) {
  
  .logo{
    padding: 7vh;
    align-items: center;
  }

  .header-background {
    display: flex;
    width: 100%;
    padding: 10%;
    background-image: url("https://picsum.photos/200/400");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sloganMobile{
    display: none;
  }

  .sloganDesktop {
    color: var(--crema);
    text-align: center;
    margin: auto;
    font-size: 15vh;
  }

  #vidaOnline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    margin-bottom: 10px;
  }

  .options-section {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    width: 850px;
  }

  .options {
    align-self: center;
    width: 220px;
    padding: 50px;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
  }

  section h2 {
    font-size: 45px;
  }

  /*                CATEGORÍA DESKTOP             */

  .categoryHeader {
    margin: 1.5vh;
  }

  .categoryTitle {
    letter-spacing: 0.3vh;
    font-size: 6vh;
    text-align: center;
    color: var(--grisOscuro);
    padding-bottom: 0px;
  
  }

  .eventCard {
    margin: auto;
    width: 60vh;
    height: 30vh;
  }

  .eventTitle {
    font-size: 3vh;
    text-align: center;
  }

  .copyRight {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 0px;
  }

  .homeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72vh;
    margin-left: 0%;
    margin-right: 0%;
    background-image: none;
  }


  .logo {
    margin-top: 4vh;
  }

  .arrowParagraph {
    display: none;
  }

  .arrow {
    display: none;
  }

  .mainMenu{
    display: none;
  }

  footer p{
    padding-bottom: 8vh;
  }
}


/*        PAGE IN PROGRESS          */

.backgroundInProgress{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoInProgress{
  padding-top: 10vh;
  padding-bottom: 3vh;
  
}

.textInProgress{
  font-size: 4vh;
  text-align: center;
  padding-bottom: 5vh;
  color: var(--violeta);
}

