@import 'profile.css';
@import 'loginreg.css';
@import 'rooms.css';
@import "createevent.css";

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --verde: #16697a;
  --amarillo: #ffd369;
}

body {
  font-family: "Montserrat", sans-serif;
}

.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh;
  margin-left: 0%;
  margin-right: 0%;
  background-color: var(--amarillo);
  background-repeat: no-repeat;
  background-size: cover;
}

.homeHeaderFaq {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: var(--amarillo);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 40vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
}

.logoFaq {
  width: 100%;
  height: 100%;
  max-width: 40vh;
  margin-top: 0px;
}

.sloganMobile {
  color: white;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0vh;
  font-size: 6vh;
  text-align: center;
}

.sloganMobileFaq {
  color: white;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0vh;
  font-size: 6vh;
  text-align: center;
}

.descriptiveTextMobile {
  font-family: 'DM Sans', sans-serif;
  color: var(--verde);
  font-size: 3.5vh;
  text-align: center;
  margin-top: 2vh;
 
}

.descriptiveTextMobileFaq {
  font-family: 'DM Sans', sans-serif;
  color: var(--verde);
  font-size: 3vh;
  text-align: center;
  margin-top: 2vh;
  font-style: italic;
}

.arrowParagraph {
  color: var(--verde);
  margin-top: 10vh;
  margin-bottom: 0;
  font-size: 3vh;
}

.downArrow {
  color: var(--verde);
  margin-bottom: 1vh;
  font-size: 6vh;
}

section h2 {
  margin: 6vh;
  margin-bottom: 10vh;
  font-size: 6.5vh;
  text-align: center;
  color: var(--verde);
}

.options-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.categoryDesktopContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.imageMenu {
  border-radius: 3vh;
  margin-bottom: 0;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.options {
  margin-top: 0;
  margin-bottom: 5vh;
  text-align: center;
  font-weight: 500;
  font-size: 8vh;
  color: var(--verde);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imageMenu {
  border-radius: 3vh;
  margin-bottom: 0;
  width: 80vw;
  max-width: 90vw;
  height: 30vh;
} 

footer button {
  padding-top: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--verde);
  padding: 3vh 5vh;
  border: none;
  border-radius: 7vh;
  color: var(--amarillo);
  font-size: 3.5vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.copyRight {
  display:flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 12vh;
  text-align: center;
  font-size: 2vh;
  color: var(--amarillo);
}

.heart {
  color: var(--verde);
}

.mainMenu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--verde);
}

.iconMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
}

.liMainMenu {
  text-align: center;
  margin-top: 2vh;
}

.iconNav {
  font-size: 5vh;
  color: var(--amarillo);
}

.iconText {
  font-size: 2vh;
  color: var(--amarillo);
}


/*                   PAGINA DE CATEGORIAS VERSION MOBILE                    */

.categoryHeader {
  margin: 1.5vh;
}

.categoryTitle {
  letter-spacing: 0.3vh;
  font-size: 10vh;
  font-weight: bold;
  text-align: center;
  color: var(--verde);
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.textoRelleno{
  color: var(--amarillo);
  font-size: 4vh;
  padding: 15vh 7vh;
  width: 100%;
  text-align: center;
  background-color: #16697a8e;
}

.eventTitle {
  font-weight: bold;
  font-size: 5vh;
  text-align: center;
  color: var(--verde);
  padding: 3vh;
  background-color: var(--amarillo);
  margin-bottom: 7vh;
}

.imageSpan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageEventCard {
  border-radius: 7vh;
  width: 60vh;
  height: 35vh;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonCapacityContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2vh;
  margin-right: 21vw;
  margin-bottom: 2vh;
}

p.numberCapacity {
  margin-right: 3vh;
  margin-top: 0.5vh;
  font-size: 5vh;
  color: var(--verde);
}

.enterButton {
  background-color: var(--amarillo);
  border: none;
  padding: 1.5vh 2.5vh;
  border-radius: 7vh;
  color: var(--verde);
  font-size: 4vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-background {
  display: none;
}

.createButton {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  background-color: var(--amarillo);
  padding: 1.5vh 4vh;
  border: none;
  border-radius: 7vh;
  color: var(--verde);
  font-size: 4vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.userName{
  font-size: 6vw;
  margin: 0;
  padding: 0;
}

.cerrarSesionContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3vh
}

.logOutButton{
  font-size: 6vw;
  color: var(--verde);
  border: none;
  background-color:#f8fafc;
}



/***                      "DESKTOP RESPONSIVE"                   ****/

@media screen and (min-width: 768px) {

  .logo {
    padding: 7vh;
  }

  .logoFaq
   {
    display: flex;
    justify-content: center;
    padding: 1vh;
    padding-top: 10px;
  }

  .header-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    background-image: url("https://picsum.photos/200/400");
    background-repeat: no-repeat;
    background-size: cover;
  }


  .sloganMobile {
    display: none;
  }
  .sloganDesktop {
    color: white;
    text-align: center;
    margin: 10vh 5vh;
    font-size: 12vh;
  }

  .descriptiveTextMobile {
    display: none;
  }

  .descriptiveTextDesktop {
    padding-bottom: 20vh;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    color: var(--verde);
    font-size: 7vh;
    text-align: center;
  }
  #vidaOnline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
  }

  section h2 {
    font-size: 45px;
  }

  .options-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 0px;
    margin-top: 4vh;
    width: 40vw;
  }

  .options {
    align-self: center;
    width: 220px;
    padding: 50px;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
  }

  .categoryDesktopContainer {
    display: flex;
    flex-direction: column;
  }

  /*CATEGORÍA DESKTOP*/


  .categoryHeader {
    margin: 1.5vh;
  }
  .categoryTitle {
    letter-spacing: 0.3vh;
    font-size: 6vh;
    text-align: center;
    color: var(--verde);
    padding-bottom: 0px;
  }
  .eventCard {
    margin: auto;
    width: 60vh;
    height: 30vh;
  }
  .eventTitle {
    font-size: 3vh;
    text-align: center;
  }

  .imageEventCard {
    width: 400px;
    height: 300;
  }
  .buttonCapacityContainer {
    display: flex;
    justify-content: center;
    margin-left: 330px;
  }

  .copyRight {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 0px;
  }
  .homeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72vh;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white;
  }

  .logo {
    margin-top: 10vh;
    
  }
  .arrowParagraph {
    display: none;
  }
  .arrow {
    display: none;
  }

  .mainMenu {
    display: none;
  }

  footer p {
    padding-bottom: 8vh;
  }
}

/*        PAGE IN PROGRESS          */

.backgroundInProgress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoInProgress {
  padding-top: 10vh;
  padding-bottom: 3vh;
}

.textInProgress {
  font-size: 4vh;
  text-align: center;
  padding-bottom: 5vh;
  color: var(--verde);
}


header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul {
  marker: none;
  display: flex;
}

footer {
  display: fixed;
}

