body {
    font-family: 'Roboto', sans-serif;
}


header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image: url("https://picsum.photos/200/400");
    background-repeat: no-repeat;
    background-size: cover;
}

header img{
    position: absolute;
    width: 171px;
    height: 98px;
    left: 74px;
    top: 102px;

}

ul {
}

#help {
    position: absolute;
}

footer {
    display: fixed;
}

@media(max-width: 650px){

    header {
        
    }


}