@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@300;400&display=swap");

* {
  font-family: "DM Sans", "sans-serif";
  font-size: 20px;
  color: var(--verde);
}

:root {
  --primary: var(--verde);
  --secondary: #ffd369;
  --terciary: #ffffff;
}

.logoLogin {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 30vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-left: auto;
  margin-right: auto;
}

.forget-password-container {
  text-align: center;
}

.forget-password-link {
  color: #16697a;
}

.forget-password-link:hover {
  text-decoration: underline;
}

.buttons-container {
  flex-wrap: wrap;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-access {
  width: 170px;
  height: 54px;
  border-radius: 28px;
  background-color: #16697a;
  color: #ffd369;
  border: none;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
}

.button-access:hover {
  border: 2px solid #ffd369;
}

/* .button-back {
  width: 170px;
  height: 54px;
  border-radius: 28px;
  background-color: #ffd369;
  color: #16697a;
  border: none;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
}

.button-back:hover {
  border: 2px solid #16697a;
} */

.containerLoginRegister {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--amarillo);
  border: none;
}

.LogRegbutton{
  color: var(--verde);
  font-size: 4vh;
  border: none;
  background-color: var(--amarillo);
  
}

@media screen and (max-width: 320px) {
  .logo {
    width: 150px;
  }

  .button-access {
    margin: 5px;
  }

  .button-back {
    margin: 5px;
  }
}
