.profilePic {
    border: 0px solid black;
    border-radius: 50%;
    height: 25vh;
    width: 40vw ;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.picture {
    padding-bottom: 4vh;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 4vh;
}

.profileInfo input{
    height: 8vh;
    padding-left: 3vh;

}

.profileContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3vw;
}

.opcionProfile{
    font-weight: bold;
}
